<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- include libraries(jQuery, bootstrap) -->


    <script src="/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({selector:'textarea'});</script>
</head>
<body>
    
    
{{if .Success}}
<h1>User created</h1>
{{else}}
<h1>Contact</h1>
<form method="POST">
    <label>username:</label><br />
    <input type="text" name="username"><br />
    <label>password:</label><br />
    <input type="text" name="password"><br />       


    <textarea>Next, use our Get Started docs to setup Tiny!</textarea>



    <input type="submit">
</form>
{{end}}


</body>
</html>



